@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-primary: #318ce7;
  --color-accent: #318ce7;
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --color-neutral-900: #171717;
  --color-neutral-600: #525252;
  --color-neutral-500: #737373;
  --color-neutral-400: #a3a3a3;
  --color-white: #ffffff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    color-scheme: dark;
  }
}
